header{  
   background: color rgb(0, 0, 0);
   color:rgb(247, 120, 139);
}
.cabecalho-imagem{
   width: 20%;
}
.cabecalho{
   background-color: #fc6262;
   color: black;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}
*.cabecalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 24px;
}
