header{  
   background: color rgb(255, 109, 109);
   color:rgb(247, 120, 139);
}
.cabecalho-imagem{
   width: 20%;
}
.cabecalho{
   background-color: #fc6262;
   color: black;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}